* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;/*top-bottom, left-right automatically distribute the right amount of margin on either side*/
}

/* viewport heights scale to screen*/
html, body, section, div {
    height: 100vh;
    width: auto;
}

body {
    color: #3E3B39;/*black olive*/
    background: url(./image/bridal.jpg);
    background-color: silver;
    font-family: sans-serif;
    /*font-size: 1.25rem;*/
}

h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 1.75rem;
    margin: 0 auto;
    text-shadow: 0 2px 2px #FFD700;
}

/*horizontal rule css*/
hr { 
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.btn {
    text-align: center;
    padding-top: 100px;
}

/* Grid column */
.grid-col {
    display: grid;
    grid-template-columns: 50% 50%;
    /*border: 2px solid black;*/
}

.left-half {
    background-color: grey;
    background: url(./image/bouquet.jpg);
    opacity: o.5;
    filter: brightness(.80);
    box-shadow: 0 5px 7px 0 rgb(34, 60, 80, 0.16);
    grid-column: 1;
}

.right-half {
    background-color: rgb(177, 170, 170);
    filter: brightness(.75);
    box-shadow: 0 5px 7px 0 rgb(34, 60, 80, 0.16);
    grid-column: 2;
}

/*onClick change background image*/


/*form field begins*/
.form {
    position: relative;
    /*top: 0%;*/
    text-align: center;
    padding: 1rem;
}

/* Uniform size & alignment */
label {
    display: inline-block;
    width: 90px;
    text-align: right;/*form text alignmentment*/
}

input {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field sizing*/
    width: 250px;
    box-sizing: border-box;

    /*form field borders */
    border: 2px solid #999;
}
/*form field ends*/

/*footer*/
footer, h3 {
    text-align: center;
    font-size: small;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 7px;
}